{% extends 'base.html' %}
{% block title %}Edit Book: {{book.title}}{% endblock %}
{% block header %}
<h2>Editing : {{book.title}}</h2>
{% endblock %}
{% block content %}
<form action="{{url_for('editBook', category_slug=book_category_slug, title_slug=book.slug)}}" method="post">
    <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-4">
            {% if categories %}
            <select class="form-control" name="category">
                {% for category in categories %}
                <option {% if book.category_id == category.id %} selected {% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="title" value="{{book.title}}">
        </div>
    </div>
    <div class="form-group row">
            <label for="authorFName" class="col-sm-2 col-form-label">Author First Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="authorFName" value="{{author.first_name}}">
            </div>
    </div>
    <div class="form-group row">
            <label for="authorLName" class="col-sm-2 col-form-label">Author Last Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="authorLName" value="{{author.last_name}}">
            </div>
    </div>
    <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Year Published</label>
            <div class="col-sm-2">
                <input class="form-control" type="number" name="year" value="{{book.publish_year}}" min="1900" max="2100">
            </div>
    </div>
    <div class="form-group row">
            <label for="link" class="col-sm-2 col-form-label">Link</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="link" value="{{book.link}}">
            </div>
    </div>
    <div class="form-group row">
            <label for="coverUrl" class="col-sm-2 col-form-label">Cover URL</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="coverUrl" value="{{book.cover_url}}">
            </div>
    </div>
    <div class="form-group row">
            <label for="summary" class="col-sm-2 col-form-label">Summary</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="6" name="summary">{{book.summary}}</textarea>
            </div>
    </div>
    <div class="form-group row">
            <label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="isbn" value="{{book.isbn}}">
            </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a class="btn btn-secondary ml-3" href="{{url_for('viewBook', category_slug=book_category_slug, title_slug=book.slug)}}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}